# Node.js artifacts
node_modules/
dist/

# WordPress uploads, cache y backups
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/

# WordPress config
wp-config.php

# Docker overrides
docker-compose.override.yml

# Logs
*.log

# Environment files
.env

# Vendor / dependencias externas
vendor/

# IDE / editor
.idea/
.vscode/

# OS artifacts
.DS_Store
Thumbs.db

# Compiled files
*.class
*.py[cod]
*.jar
*.war
*.exe
*.app

# Media / grandes archivos binarios que no versionaremos
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# README u otros archivos de documentación que no quieras subir
README*
