/*
CTC Separate Stylesheet
Updated: 2024-10-07 19:57:47
*/

.gs-floating-search-block form {
    width: 100%;
    max-width: 1064px;
    max-width: 1440px;
    max-width: 1065px;
    height: 30px;
    float: right;
    margin: 0 auto !important;
}
.gs-floating-search-block.gs-floatsearch-active {
    background-color: transparent !important;
    padding: 0;
}
.wp-block-search__inside-wrapper {
    width: 30%;
    float: right;
}
html {
    margin-top: 0;
}
.wpforms-container .wpforms-form .wpforms-field-label {
    color: #000;
    font-family: Raleway, sans-serif;
}
.wpforms-container .wpforms-form .wpforms-field-sublabel {
    color: #1c263694;
    font-family: Raleway, sans-serif;
}
button.wpforms-submit.button-form {
    background-color: var(--wp--preset--color--primary) !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    -moz-box-shadow: 0 3px 3px 0 var(--wp--preset--color--basecolor, #000) !important;
    -webkit-box-shadow: 0 3px 3px 0 var(--wp--preset--color--basecolor, #000) !important;
    -o-box-shadow: 0 3px 3px 0 var(--wp--preset--color--basecolor, #000) !important;
    box-shadow: 0 3px 3px 0 var(--wp--preset--color--basecolor, #000) !important;
}
button.wpforms-submit.button-form:hover {
    background-color: var(--wpforms-button-background-color-alt, var(--wpforms-button-background-color)) !important;
    background-color: var(--wp--preset--color--primary) !important;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: 0 5px 5px 0 #bbae7f !important;
    -webkit-box-shadow: 0 5px 5px 0 #bbae7f !important;
    -moz-box-shadow: 0 5px 5px 0 var(--wp--preset--color--primary) !important;
    -o-box-shadow: 0 5px 5px 0 #bbae7f !important;
    -webkit-box-shadow: 0 5px 5px 0 var(--wp--preset--color--primary) !important;
    box-shadow: 0 5px 5px 0 #bbae7f !important;
    -o-box-shadow: 0 5px 5px 0 var(--wp--preset--color--primary) !important;
    box-shadow: 0 5px 5px 0 var(--wp--preset--color--primary) !important;
}
div.wpforms-container-full button[type=submit]:hover {
    background-color: var(--wp--preset--color--primary) !important;
}
