/*
 Theme Name:   Astra Child
 Theme URI:    https://dibujosOasis.com/
 Description:  Tema hijo de Astra
 Author:       DibujosOasis
 Author URI:   https://dibujosOasis.com/
 Template:     astra
 Version:      1.0.0
*/

@import url('css/base.css');
@import url('css/header-menu.css');
@import url('css/footer.css');
@import url('css/hero-product.css');
@import url('css/product.css');
@import url('css/woocommerce-tabs.css');
@import url('css/woocommerce-extra.css');
@import url('css/responsive.css');