.woocommerce-tabs ul.tabs {
  display: flex;
  gap: 20px;
}

.woocommerce-tabs ul.tabs li.active a {
  font-size: 18px;
  font-weight: 600;
  color: var(--ast-global-color-3);
}

/* Tablas */
.shop_attributes th {
  text-transform: uppercase;
  font-size: .9em;
}
