.faqs-list-contacts {
    align-self: baseline;
}

.faqs-list-contacts .uagb-ifb-content {
    justify-items: center;
}

.icons-contact {
    transition: all 0.3s ease !important;
}

.icons-contact:hover {
    transform: translateY(-3px) !important;
}

.hover-contact p.uagb-ifb-desc {
    transition: all 0.3s ease !important;
}

.hover-contact p.uagb-ifb-desc:hover {
    transform: translateY(0px) !important;
    color: #bbae7f !important;
}

.wp-block-uagb-container.container-blocks-maps {
    max-height: 440px;
}

.wp-block-uagb-google-map.uagb-google-map__wrap.block-map embed {
    max-height: 490px;
    height: 490px !important;
}

div.frm_form_field.vertical_radio {
    margin-bottom: 10px !important;
}