
.post-grid-gallery .uagb-post__text.uagb-post-grid-byline {
    display: none;
}

.post-carousel-gallery.uagb-slick-carousel {
    padding-top: 10px !important;
    padding: 52px;
}

.spectra-image-gallery__layout--carousel ul.slick-dots {
    top: -30px !important;
}

.gallery-image {
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.05);
}
