.wp-block-group.fila-banner-home {
    gap: 50px;
}

.wp-block-uagb-image.line-banner {
    margin-top: -25px;
}

.head-banner-home h2.uagb-heading-text {
    padding-top: 5px;
    padding-bottom: 20px;
}

.frm_form_fields label.frm_primary_label {
    font-weight: 500 !important;
}

a.uagb-buttons-repeater.wp-block-button__link {
    transition: all .3s ease;
    line-height: normal;
    text-align: center;
    border-width: 0px !important;
    border-color: #000000 !important;
    border-style: solid !important;
    cursor: pointer;
    border-radius: 8px !important;
    text-shadow: none;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #626262 !important;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
}

a.uagb-buttons-repeater.wp-block-button__link:hover {
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}

.frm_style_estilo-de-formidable.with_frm_style .frm_submit button.frm_button_submit {
    background: #e6decb;
    transition: all .3s ease;
    text-transform: capitalize;
}

.frm_style_estilo-de-formidable.with_frm_style .frm_submit button.frm_button_submit:hover, .button-product a:hover {
    background: #BBAE7F;
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}