.woocommerce div.product div.summary, .woocommerce.content-full-width div.product div.summary .product_meta {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.woocommerce .related.products {
    margin-top: 30px !important;
}

.woocommerce div.product div.summary, .woocommerce.content-full-width div.product div.summary {
    padding-top: 30px;
}

button.single_add_to_cart_button.button.alt:hover, a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart:hover {
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}

button.single_add_to_cart_button.button.alt, button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained {
    background: linear-gradient(135deg, rgb(187, 174, 127) 0%, rgb(0, 0, 0) 100%);
    font-family: "Rubik";
    font-weight: 600;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    box-shadow: 0px 0px 0 #00000026;
    opacity: 0.8;
}

.woocommerce div.product .woocommerce-tabs div#tab-description h2 {
    display: none;
}

.woocommerce div.product .woocommerce-tabs div#tab-description p {
    font-size: 18px;
    justify-self: center;
}

.woocommerce div.product .woocommerce-tabs div#tab-additional_information h2 {
    display: none;
}

.woocommerce table.shop_attributes, .woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td {
    border: none !important;
    text-align: center !important;
    font-size: 18px !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .wc-block-grid__product .wc-block-grid__product-title {
    color: #000000 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .wc-block-grid__product .wc-block-grid__product-title:hover {
    color: #bbae7f !important;
}

.woocommerce div.product .woocommerce-tabs {
    padding-top: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs {
    margin-left: 0;
    margin-right: 0;
}

.woocommerce div.product form.cart+.product_meta {
    border-bottom: 0;
}

.product_meta span.sku_wrapper, span.posted_in, span.tagged_as {
    font-size: 17px;
}

.product_meta span {
    margin-top: 10px;
}

.product_meta span.custom-meta {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.single .entry-content {
    margin-top: 20px;
}

/* Cambiar el color del precio en productos marcados como "outofstock" */
.woocommerce ul.products li.product.outofstock .woocommerce-Price-amount.amount {
    color: #fe5252 !important;
}

.tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.no-txt:hover {
    color: #57bf6d;
}

.woocommerce div.product {
    padding-left: 40px;
    padding-right: 40px;
}

.woocommerce div.product div.summary p.in-stock {
    margin-bottom: 20px;
    color: #57bf6d;
    margin-top: 10px !important;
}

.woocommerce div.product p.stock {
    margin-top: 10px !important;
}

.woocommerce div.product form.cart div.quantity, .tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart.tinvwl-loop-button-wrapper.tinvwl-woocommerce_blocks_product_grid_item_html {
    display: none;
}

form.cart.customize-unpreviewable, form.cart {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after{
    margin-top: 9px !important;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after:before {
    font-size: 30px !important;
    margin-left: -15px;
}

.single a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after:before {
    font-size: 30px !important;
    margin-left: -20px !important
}

a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart {
    background: linear-gradient(135deg, rgb(187, 174, 127) 0%, rgb(0, 0, 0) 100%);
    font-family: "Rubik";
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    box-shadow: 0px 0px 0 #00000026;
    opacity: 0.8;
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 13px;
    width: 60%;
}

.wc-block-components-product-metadata {
    display: none;
}

.swiper-container {
    max-width: 700px; /* Incrementa el ancho total para incluir las flechas */
    margin: 10px auto; /* Centrar el slider */
    padding: 0; /* Quita el padding innecesario */
    position: relative; /* Necesario para posicionar las flechas */
    overflow: hidden; /* Evita que el contenido sobresalga */
    height: 177px;
}

/* Estilo para las diapositivas */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que las imágenes desborden */
}

/* Imágenes dentro de las diapositivas */
.swiper-slide img {
    width: 100%; /* Asegura que las imágenes ocupen el ancho de las diapositivas */
    height: auto; /* Mantiene proporciones */
    object-fit: cover; /* Recorta la imagen para ajustarla al tamaño del contenedor */
    border-radius: 5px; /* Opcional: Bordes redondeados */
}


.swiper-button-prev:hover, .swiper-button-next:hover {
    color: #000000 !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    transform: translateY(-50%); /* Ajustar el centrado vertical */
    z-index: 10; /* Asegura que estén por encima de otros elementos */
    width: 30px; /* Tamaño de las flechas */
    height: 30px;
    color: #bbae7f !important; /* Color de las flechas */
    bottom: 0 !important;
    top: 100% !important;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: #000000 !important;
}

/* Ajustar las posiciones de las flechas */
.swiper-button-prev {
    left: 42% !important;
}

.swiper-button-next {
    left: 55% !important;
}


/* Paginación centrada debajo del slider */
.swiper-pagination {
    position: relative;
    bottom: 7px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    /*background: #000; !* Color de los puntos *!*/
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1; /* Puntos activos más visibles */
    background: #bbae7f !important;
}

/* Imagen destacada */
.woocommerce-product-gallery__image img {
    transition: all 0.3s ease-in-out; /* Transición suave al cambiar la imagen */
}

/* Miniaturas del slider */
.swiper-slide img {
    cursor: pointer; /* Mostrar el cursor de clic */
    transition: transform 0.2s ease-in-out; /* Efecto al pasar el mouse */
}

.swiper-slide img:hover {
    transform: scale(1.05); /* Aumentar ligeramente al hacer hover */
}

/* Eliminar zoom en la galería de imágenes del producto */
.woocommerce-product-gallery__image img {
    transform: none !important;
    transition: none !important;
}

.woocommerce-product-gallery__image:hover img {
    transform: none !important;
}