.woocommerce div.product div.summary, .woocommerce.content-full-width div.product div.summary .product_meta {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.woocommerce .related.products {
    margin-top: 30px !important;
}

.woocommerce div.product div.summary, .woocommerce.content-full-width div.product div.summary {
    padding-top: 30px;
}

button.single_add_to_cart_button.button.alt:hover, a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart:hover {
    background: #BBAE7F;
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
    text-transform: initial !important;
}

button.single_add_to_cart_button.button.alt, button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained {
    background: #e6decb !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
    font-family: Rubik;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: initial !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    transition: all .3s ease;
    border-width: 0px;
    border-color: #000000;
    border-style: solid;
    padding: 12px 20px;
    margin-left: 0;
    margin-top: 0;
}



button.single_add_to_cart_button.button.alt:hover, button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained:hover {
    background: #BBAE7F !important;
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}

.woocommerce div.product .woocommerce-tabs div#tab-description h2 {
    display: none;
}

.woocommerce div.product .woocommerce-tabs div#tab-description p {
    font-size: 18px;
    justify-self: center;
}

.woocommerce div.product .woocommerce-tabs div#tab-additional_information h2 {
    display: none;
}

.woocommerce table.shop_attributes, .woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td {
    border: none !important;
    text-align: center !important;
    font-size: 18px !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .wc-block-grid__product .wc-block-grid__product-title {
    color: #000000 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .wc-block-grid__product .wc-block-grid__product-title:hover {
    color: #bbae7f !important;
}

.woocommerce div.product .woocommerce-tabs {
    padding-top: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs.wc-tabs {
    margin-left: 0;
    margin-right: 0;
}

.woocommerce div.product form.cart+.product_meta {
    border-bottom: 0;
}

.product_meta span.sku_wrapper, span.posted_in, span.tagged_as {
    font-size: 17px;
}

.product_meta span {
    margin-top: 10px;
}

.product_meta span.custom-meta {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.single .entry-content {
    margin-top: 20px;
}

.woocommerce ul.products li.product.outofstock .woocommerce-Price-amount.amount {
    color: #fe5252 !important;
}

.tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button.no-txt:hover {
    color: #57bf6d;
}

.woocommerce div.product {
    padding-left: 40px;
    padding-right: 40px;
}

.woocommerce div.product div.summary p.in-stock {
    color: #57bf6d !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.woocommerce div.product p.stock {
    margin-top: 10px !important;
}

.woocommerce div.product form.cart div.quantity, .tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart.tinvwl-loop-button-wrapper.tinvwl-woocommerce_blocks_product_grid_item_html {
    display: none !important;
}

form.cart.customize-unpreviewable, form.cart {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after{
    margin-top: 9px !important;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after:before {
    font-size: 30px !important;
    margin-left: -15px;
}

.single a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after:before {
    font-size: 30px !important;
    margin-left: -20px !important
}

a.wp-block-button__link.add_to_cart_button.ajax_add_to_cart {
    background: #e6decb;
    font-family: "Rubik";
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    box-shadow: 0 1px 1px #626262;
    opacity: 0.8;
    text-decoration: none !important;
    text-transform: initial;
    font-size: 13px;
    width: 60%;
}

.wc-block-components-product-metadata {
    display: none;
}

.swiper-container {
    max-width: 700px;
    margin: 10px auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 177px;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: #000000 !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    transform: translateY(-50%);
    z-index: 10;
    width: 30px;
    height: 30px;
    color: #bbae7f !important;
    bottom: 0 !important;
    top: 100% !important;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: #000000 !important;
}

.swiper-button-prev {
    left: 42% !important;
}

.swiper-button-next {
    left: 55% !important;
}

.swiper-pagination {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #bbae7f !important;
}

.woocommerce-product-gallery__image img {
    transition: all 0.3s ease-in-out;
}

.swiper-slide img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.swiper-slide img:hover {
    transform: scale(1.05);
}

.woocommerce-product-gallery__image img {
    transform: none !important;
    transition: none !important;
}

.woocommerce-product-gallery__image:hover img {
    transform: none !important;
}

.woocommerce-product-attributes.shop_attributes {
    margin-bottom: 15px;
}

div#tab-additional_information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wc-block-cart__submit-container{
    display: flex;
    justify-content: center;
}

a.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
    transition: all .3s ease;
    width: 46%;
}

.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-woocommerce_after_add_to_cart_button a.tinvwl_add_to_wishlist_button.tinvwl-position-after.tinvwl-product-in-list.tinvwl-product-make-remove, .single-product div.product form.cart .tinvwl-button.tinvwl_add_to_wishlist_button, div.product form.cart .tinvwl_add_to_wishlist_button {
    background: #e6decb;
    opacity: 1;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
    font-family: Rubik;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    transition: all .3s ease;
    border-width: 0px;
    border-color: #000000;
    border-style: solid;
    padding: 12px 20px;
    margin-top: 0;
}

.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-woocommerce_after_add_to_cart_button a.tinvwl_add_to_wishlist_button.tinvwl-position-after.tinvwl-product-in-list.tinvwl-product-make-remove:hover, .single-product div.product form.cart .tinvwl-button.tinvwl_add_to_wishlist_button, div.product form.cart .tinvwl_add_to_wishlist_button:hover {
    background: #BBAE7F !important;
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}

.owp-floating-bar .container {
    height: 75px;
}

form.variations_form.cart {
    flex-direction: column !important;
}

.woovr-variation-selector {
    padding: 0 !important;
}

.woovr-variations.woovr-variations-select2 {
    width: 75%;
    padding-left: 5px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.single_variation {

}

.woovr-variation.woovr-variation-dropdown {
    width: 40%;
}

.select2-search--dropdown {
    display: none !important;
}

form.variations_form.cart .single_variation_wrap {
    display: flex;
    flex-direction: row;
    gap: 0;
}

li.select2-results__option span {
    font-size: 14px !important;
}

span.select2-selection__rendered {
    font-size: 14px !important;
}

li.select2-results__option {
    padding: 3px;
}

.woocommerce-variation.single_variation {
    margin-bottom: 0 !important;
}

.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled, .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}