
.wp-block-woocommerce-filter-wrapper h3.wp-block-heading {
    font-size: 17px !important;
    line-height: 1.4 !important;
    font-family: Rubik;
    font-weight: 500;
    color: #000000;
}

.yith-wcan-filters .yith-wcan-filter .yith-wcan-dropdown.open {
    border-color: #bbae7f;
    box-shadow: 0 0 7px 0 #bbae7f;
}

.yith-wcan-filters .yith-wcan-filter .yith-wcan-dropdown .dropdown-wrapper {
    border-color: #bbae7f;
    box-shadow: 0 0 7px 0 #bbae7f;
}

ul.matching-items.filter-items {
    --yith-wcan-filters_colors_accent: #bbae7f !important;
}

.woocommerce ul.products li.product li.category {
    padding-top: 10px;
    margin-bottom: 10px !important;
}
.woocommerce ul.products li.product li.title {
    padding: 0 !important;
    margin-bottom: 10px !important;
    max-height: 24px;
}

.woocommerce ul.products li.product li.price-wrap {
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.woocommerce ul.products li.product .woo-entry-inner li:last-child {
    margin: 0;
    padding: 0;
}

.yith-wcan-filters .yith-wcan-filter .filter-items .filter-item > label > a:hover {
    color: #bbae7f !important;
}

.archive li.image-wrap {
    width: 215px;
    height: 294px;
    display: flex;
    align-items: center;
}

.single li.image-wrap {
    width: 292px;
    height: 390px;
    display: flex;
    align-items: center;
}

.filter-tax h4.filter-title {
    font-size: 17px !important;
    line-height: 1.4 !important;
    font-family: Rubik;
    font-weight: 500;
    color: #000000;
}

article.single-page-article.clr {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

div#content-wrap {
    padding-top: 30px;
}

.wp-block-woocommerce-cart.alignwide {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.wc-block-components-product-badge.wc-block-components-product-low-stock-badge {
    border: none;
    text-transform: capitalize;
    font-size: 13px;
    padding-left: 0;
}

.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name {
    margin-bottom: 0 !important;
}

.wc-block-components-quantity-selector {
    display: none !important;
}

.wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input {
    padding: 0 !important;
}

button.wc-block-cart-item__remove-link {
    text-decoration: none !important;
    font-size: 14px !important;
}

button.wc-block-cart-item__remove-link:hover {
    color: #bbae7f !important;
}

.wc-block-components-product-metadata {
    margin-bottom: 5px !important;
}

.wp-block-woocommerce-cart-cross-sells-block h2.wp-block-heading.has-large-font-size {
    font-size: 24px !important;
}

.wc-block-components-product-metadata__description p {
    font-size: 14px !important;
}

.wc-block-components-panel__button, .wp-block-woocommerce-cart-order-summary-subtotal-block.wc-block-components-totals-wrapper, input#wc-block-components-totals-coupon__input-0 {
    font-size: 16px;
}

.wc-block-components-totals-item.wc-block-components-totals-footer-item {
    font-size: 18px;
}

.wc-block-components-text-input.wc-block-components-totals-coupon__input label {
    font-size: 14px;
}

button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained:hover {
    opacity: 1;
    transform: translateY(-3px) !important;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}

button.wc-block-components-button.wp-element-button.wc-block-components-totals-coupon__button.contained span.wc-block-components-button__text {
    font-size: 14px;
    text-transform: capitalize;
}

p.return-to-shop a.button.wc-backward, td.product-action button.button.alt, span.tinvwl-input-group-btn button.button, .tinvwl-to-right.look_in button.button, .tinv-wishlist .tinvwl-buttons-group button, td.product-action a.button.product_type_simple, button.floating_add_to_cart_button.button.alt {
    transition: all .3s ease;
    line-height: normal;
    text-align: center;
    border-width: 0px !important;
    border-color: #000000 !important;
    border-style: solid !important;
    cursor: pointer;
    border-radius: 8px !important;
    text-shadow: none;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #626262 !important;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
    text-transform: initial;
    margin-top: 0;
    text-decoration: none !important;
}

p.return-to-shop a.button.wc-backward:hover, td.product-action button.button.alt:hover, span.tinvwl-input-group-btn button.button:hover, .tinvwl-to-right.look_in button.button:hover, .tinv-wishlist .tinvwl-buttons-group button:hover, td.product-action a.button.product_type_simple:hover, button.floating_add_to_cart_button.button.alt:hover {
    background: #BBAE7F;
    opacity: 1;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2) !important;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after.tinvwl-loop.inited-add-wishlist.tinvwl-product-in-list, a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after.tinvwl-loop.inited-add-wishlist.tinvwl-product-in-list:hover, a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after.tinvwl-loop, a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after.tinvwl-loop:hover, a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after, a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt.tinvwl-position-after:hover {
    outline: none !important;
}

.wp-block-woocommerce-cart-cross-sells-block {
    display: none;
}

.tinvwl-to-right.look_in {
    margin-top: 0 !important;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}